<div class="container text-center">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt amet ea 
    omnis eligendi voluptates ipsum sint laborum! Eum vel debitis, delectus 
    accusantium officia vero doloribus, reiciendis repellat iste, atque quod.</p>
</div>